tqdm==4.54.1
requests==2.18.4
spacy==2.3.2
stanza==1.1.1
nltk==3.5
numpy==1.19.5
pandas==1.2.1
pattern==3.6
pqdict==1.1.1
torch
torchtext
allennlp==1.3.0
allennlp-models==1.3.0
networkx
nltk==3.5
stanza==1.1.1
scikit-learn==0.24.0
wordnet
gensim
svgling